<div class="modal image_modal" id="myModal-<%= index %>" role="dialog">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <%= link_to image_tag(img_src, size: "800x400") %>
</div>
