<div  ng-controller="deleteModalCtr">
  <span class="comment-start"></span>
  <div class="count_comment">
    <%= render "comments/count_comment" %>
  </div>
  <br><br>
  <div class="comment-blank">
    <%= render "comments/result_comment" %>
  </div>
  <%= render "comments/form" %>
</div>
