<div class="cmt-lb"><b><%= "Comment" %></b></div>
<textarea ng-model="comment" class="form-control text_area_comment" rows="10"></textarea>
<button type="button" ng-click="postComment(<%= @blog.id %>, <%= current_user.id %>)"
 class="form-control btn-post">Submit</button>
