<div class="modal fade" id="row_{{comment.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        You want to delete comment
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="form-control btn-post" ng-click="deleteComment(comment.blog_id, comment.id)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
